.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  20px;
  }
  
  .image {
    width: 100%; 
    max-width: 1200px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }