.head {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
}

.sectionTitle {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.sectionTitlee {
    font-size: 20px;

    color: #333;
    margin: 0;
}

.butWish {
    background-color: #C32699;
    color: white;
    border-radius: 32px;
    border: none;
    padding: 4px 16px;
    font-size: 20px;
}

.tracking {
    background-color: #F5F5F5;
    border-radius: 32px;
    margin: 10px;
    padding: 4px 16px;
}

/* section */
.container {
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #FFFAF1;
    border: 1px solid #FFD274;
    border-radius: 8px;
    padding: 40px;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

.bttn {
    border: 1px solid #E178C5;
    border-radius: 30px;
    background-color: #FFFAF1;
    color: #E178C5;
    padding: 10px 15px;
}

.bttn2 {
    border: 1px solid #FF3131;
    border-radius: 30px;
    background-color: #FFFAF1;
    color: #FF3131;
    padding: 10px 15px;
}

.bttn3 {
    border: 1px solid #FF8A52;
    border-radius: 30px;
    background-color: #FFFAF1;
    color: #FF8A52;
    padding: 10px 15px;
}

/* cards */
.Card {
    flex: 1 1 calc(25% - 16px);
    /* box-shadow: 0.5px solid #FF8A52; */
    box-shadow: 0px 10px 0px 0px #e4e1e1;
    border-radius: 20px;
    padding: 16px;
    box-sizing: border-box;
    height: auto;
    background-color: #fff;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    
}

.showMore {
    color: #FF5300;
}

.deleteButton {
    background-color: #FF3131;
    color: #FFFFFF;
    border-radius: 16.5px;
    padding: 5px 10px;
    border: 1px solid #FF3131;
}

.moveButton {
    background-color: #E178C5;
    color: #FFFFFF;
    border-radius: 16.5px;
    padding: 5px 20px;
    border: 1px solid #E178C5;
}

.box {
    text-align: center;
    width: 27px;
    height: 27px;
    border: 2px solid #C32699;
}

.left {
    background-color: #FDE5F7;
    color: #000;
    border: 1px solid #FDE5F7;
    border-radius: 20px;
}

.b1 {
    background-color: #FFB38E;
    width: 60px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b2 {
    background-color: #FF8A52;
    width: 60px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.low{
    display: flex;
    justify-content: start;
    align-items: flex-start;
}
.buttons{
    display: flex;
    justify-content: flex-start;

}
@media (max-width: 1200px) {
    .Card {
        flex: 1 1 calc(33.33% - 16px);
        flex-direction: column;
        align-items: center;
    }
    
}

@media (max-width: 768px) {
    .Card {
        flex: 1 1 calc(50% - 16px);
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 875px) {
    .Card {
      
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 576px) {
    .Card {
        flex: 1 1 100%;
        flex-direction: column;
        align-items: center;
    }
    
}
@media (max-width:950px){
    .sectionOne{
        flex-direction: column;
        
        align-items: center;
        
    }
    .buttons{
        flex-direction: column;
        align-items: center;
        
    }
    .head{
        flex-direction: column;
        width: 100%;
    }
    .Card{
        flex-direction: column;
        align-items: center;
    }
    .low{
        flex-direction: column;
        align-items: center;
    }
}