
.container {
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    /* background-color: #fff7f2;  */
    /* border: 1px solid #e5e5e5;  */
    border-radius: 8px; 
    margin-left: 20px; 
    margin-right: 20px; 
}
h2 , h5{
    color: #333 !important;
}
h4{
    color: #333 !important;
}
.spanColor{
    color: #FF5300 !important;
}
.spanColorblack{
    color: #333 !important;
}
.head{
    font-weight: 600;
    size: 40px;
    
}