
.offersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    padding: 20px;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .sectionHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .sectionTitle {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 0;
  }
  
  .highlightedText {
    color: #FF5300;
  }
  
  .customCard {
    flex: 1 1 calc(25% - 16px);
    border: 0.5px solid #FF8A52;
    border-radius: 20px 20px 300px 300px;
    padding: 26px;
    box-sizing: border-box;
    height: 500px;
    background-color: #fff;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: calc(100% /11);
    box-sizing: border-box;
  }
  
  .rectangle {
    width: 100%;
    max-width: 288px;
    height: 204px;
    border-radius: 20px;
    border: 0.5px solid #FF8A52;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .productImage {
    width: 159px;
    height: 159px;
    object-fit: cover;
    position: absolute;
    margin-right: 55px;
  }
  
  .priceBox {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FF5300;
    color: #fff;
    padding: 4px 8px;
    border-radius: 0 20px 0 20px;
  }
  
  .newPrice {
    margin-right: 8px;
    font-weight: bold;
  }
  
  .oldPrice {
    font-weight: bold;
    text-decoration: line-through;
    margin-right: 8px;
    position: absolute;
    top: 0;
    right: 0;
    color: #FF3131;
    padding: 4px 52px;
  }
  
  .loveIcon {
    position: absolute;
    top: 0;
    left: 0;
    color: red;
    font-size: 24px;
    margin: 8px;
  }
  
  .cardContent {
    margin-top: 16px;
    color: #000;
  }
  
  .rating {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }
  
  .star {
    color: #FFA841;
    margin-right: 4px;
  }
  
  .ratingText {
    margin-left: 8px;
    color: #000;
  }
  
  .progressBar {
    width: 100%;
    max-width: 288px;
    height: 10px;
    background-color: #f3f3f3;
    border-radius: 5px;
    margin-top: 16px;
    position: relative;
  }
  
  .progress {
    height: 100%;
    background-color: #FF8A52;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .info {
    width: 100%;
    max-width: 288px;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
  }
  
  .ratingText {
    font-size: 14px;
    color: #E178C5;
  }
  
  .available {
    color: #000;
  }
  
  .sold {
    color: #000;
  }
  
  .seeDetailsButton {
    width: 100%;
    max-width: 250px;
    height: 40px;
    left: 18px;
    gap: 10px;
    border-radius: 20px;
    border: 1px solid #FF8A52;
    background-color: #fff;
    color: #FF8A52;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
  }
  
  .shoppingCircle {
    border: none;
    width: 116px;
    height: 116px;
    margin-top: 10px;
    border-radius: 50%;
    background: linear-gradient(to bottom right, #FFA841, #FF5300);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .shoppingIcon {
    color: #fff;
    font-size: 36px;
  }
  
  .addToCartText {
    color: #fff;
    font-size: 12.89px;
  }

  
.slider {
  display: flex;
  flex-wrap: nowrap;
}


.sliderTrack {
  display: flex;
  transition: transform 0.5s ease;
}

.prevButton, .nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: rgb(255, 253, 253);
}

.prevButton {
  left: 8px;
  z-index: 999;
  background-color: #FF5300;
  border-radius: 50%;
  text-align: center;
}

.nextButton {
  right: 8px;
  z-index: 999;
  background-color: #FF5300;
  border-radius: 50%;
  text-align: center;
}
  
  @media (max-width: 1200px) {
    .customCard {
      flex: 1 1 calc(33.33% - 16px);
    }
  }
  
  @media (max-width: 768px) {
    .customCard {
      flex: 1 1 calc(50% - 16px);
    }
  }
  
  @media (max-width: 576px) {
    .customCard {
      flex: 1 1 100%;
    }
  }
  